<section class="p-3 bg-secondary" style="height: 100vh;" id="section">
  <div class="card mt-3" id="{{post_id}}">
    <div class="card-header flex-column bg-secondary text-light">
      {{title}}
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>{{content}}</p>
        <footer class="blockquote-footer">{{username}} on {{format_date date}}
        </footer>
      </blockquote>
    </div>
  </div>
  <div class="mt-3 d-flex row justify-content-center fixed-bottom">
    <button type="button" class="w-10 btn btn-dark text-center" id="new-comment">+ New Comment</button>
    <button type="button" class="w-10 btn btn-dark text-center" id="save-comment" style="display: none;">Save Comment</button>
  </div>
  <div class="card" style="width: 18rem;">
  <ul class="list-group list-group-flush">
  {{#each comments}}
    <li class="list-group-item">{{content}} - {{username}} on {{format_date date}}</li>
  {{/each}}
  </ul>
</div>
</section>
{{#if logged_in}}
  <script src="../js/logout.js"></script>
  {{/if}}
  <script src="../js/comment.js"></script>